blinker==1.4
docutils==0.16
feedgenerator==1.9.1
ghp-import==1.0.0
Jinja2==3.0.0a1
Markdown==3.3.3
MarkupSafe==2.0.0a1
pelican==4.5.0
Pygments==2.7.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
six==1.15.0
Unidecode==1.1.1